$backgroundSidebar:#2D325A;
$color:rgb(83, 149, 255);
$font-family:'fantasy';
$boxShadowSide: 0px 10px 40px rgba(104, 104, 104, 0.63);
// hover
$backgroundHover:rgb(125, 116, 253);

.sidebar__content{
    // max-width: 25vw;
    // width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: $backgroundSidebar;
    color: $color;
    font-family: $font-family, Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: $boxShadowSide;
}
.sidebar__header,.sidebar__fotter{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sidebar__header .logo{
    margin-top: 20px;
    margin-bottom: 20px;
}
.sidebar__title{
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    position: relative;
    border-radius: 20px;
    .icons__content{
        display: flex;
        width: auto;
        height: 48px;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }
    .title_side{
        margin-left: 20px;
    }
    img{
        width: 30px;
        height: 30px;
        margin-right: 20px;
        position: relative;
        display: block;
    }
    // img:nth-child(3){
    //     right: 20px;
    //     position: relative;
    // }
    // img:nth-child(2){
    //     right: 60px;
    // }
    .icons__content .icon::before{
        z-index: 30;
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgb(0, 255, 0);
    }
    .icons__content .icon:nth-child(2):before{
        z-index: 30;
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgb(255, 56, 56);
    }
    .icons__content .icon:hover{
        cursor: pointer;
        transform: scale(1.2) rotate(10deg);
        transition: transform 1s ease;
        // animation: moviment 1s ease;
    }
}

// chart 2

.content__chart{
    position: absolute;
    left: calc(12% - 30px);
    top: 50px;
    width: calc(80% + 20px);
    height: 270px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2D325A;
    border-radius: 30px;
    box-shadow: 0px 5px 40px #1a1e36;
    animation: entrada 1s ease-in-out;
}

.mini__cards{
    width: 100%;
    height: 40px;
    position: absolute;
    top: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .card__price{
    width: 50px;
    height: 30px;
    background: #202342;
    border: 2px solid #4E30B1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 13px;
    font-size: 600;
    }
    .card__price:nth-child(2){
        border: 2px solid #F6836C;
    }
    .card__price:nth-child(3){
        border: 2px solid #4B6CC4;
    }
    .card__price:nth-child(4){
        border: 2px solid #553DCE;
    }
    .card__price:hover{
        cursor: pointer;
        background: #3a3f77;
        color: darken($color: $color, $amount: 10);
    }
}

.card__info{
    width: 90%;
    height: 250px;
    padding: 10px;
    top: 400px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:#2D325A;
    border-radius: 30px;
    box-shadow: 0px 5px 40px #1a1e36;
    animation: entrada 1s ease-in-out;
    .card-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        .card__avatar{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 100;
            h4{
                margin: 0;
            }
            h4:nth-child(1){
                color: #4868D8;
            }
            h4:nth-child(2){
                color: #9096e7;
            }
        }
        img{
            width: 50px;
            height: 60px;
        }
        button{
            margin-top: 30px;
            outline: none;
            border: none;
            color: #fff;
            border: 2px solid #4868D8;
            width: 70px;
            height: 50px;
            border-radius: 20px;
            background: #2D325A;
            transition: border 0.3s, cursor 0.3s;
        }
        button:hover{
            cursor: pointer;
            border: 2px solid #5e81ff;
        }
    }
    .card-rigth{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        .content_hour{
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            h3{
                color: #fff;
                margin: 0;
                margin-top: 4px;
                margin-right: 12px;
            }
            h5{
                margin: 0;
                margin-top: 9px;
                color: #64689A;
            }
        }
        .gun{
            width: 140px;
            height: 80px;
            cursor: pointer;
            filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.609));
            animation: rebote 2s ease-in-out infinite alternate;
        }
        .user{
            width: 25px;
            height: 25px;
        }
    }
}

.footer{
    color: #9096e7;
    display: flex;
    width: 100%;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
    border-radius: 20px;
    .container__foot{
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 15px;
        h3,h2{
            margin: 0;
            margin-bottom: 10px;
        }
        h2{
            color: #fff;
        }
    }
    .checked{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
        font-weight: 200;
        input[type=checkbox]{
            display: none; 
          }
          
          input[type=checkbox] + label{
            cursor:pointer;
          }
          
          label:before{
              margin-left: 20px;
            content:'';
            background:transparent;
            border: 3px solid #4868D8;
            border-radius: 10px;
            display: inline-block;
            height: 25px;
            width: 25px;
            margin-right: 20px;
            text-align:center;
            vertical-align:middle;
          }
          input[type=checkbox]:checked + label:before{
            content: '✔';
            font-size: 16px;
            font-family:'Times New Roman';
            color:#fff;
          }
    }
}

@keyframes rebote{
    0%{
        transform: scale(1) rotate(-10deg);
    }100%{
        transform: scale(1.2) rotate(-20deg);
    }
}

@keyframes elevar{
    0%{
        transform: translateX(0px) translateY(0px) translateZ(0px);
    }100%{
        transform: translateX(5px) translateY(5px) translateZ(5px);
    }
}

@keyframes changecolor{
    0%{
        transform: rotate(-10deg);
    }100%{
        transform: rotate(10deg);
    }
}

@keyframes entrada{
    0%{
        opacity: .1;
        transform: scale(0.5);
    }100%{
        opacity: 1;
        transform: scale(1);
    }
}

